:root{
    --oscuro:#414040;
    --grisformulario: #d3d3d3;
    --grisclaro: #99A0A3;
    --grisoscuro: #37373f;
    --blanco:#FFFFFF;
    --blancohumo: #ebe8e8;
    --azul:#004F9F;
    --rojo: #EA0B2E;
    --amarilloClaro: #FCE31B;
    --amarilloOscuro: #D1B413;
}
html{
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--grisformulario);
}
.confirmacion{
    text-align: center;
    margin-top: 15rem;
}
h1{
    font-size: 1.9rem;
    text-align: center;
    color: var(--grisoscuro);
    
}
span{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Londrina Solid', cursive;
}
p{
    font-size: 1.5rem;
    text-align: center;
}
.boton{
    width: 80%;
    margin: auto;
    text-align: center;
}
.boton button{
    border: none;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #1072f1;
    box-shadow: #888888 0 2px 9px;
}
.boton button:hover{
    transform: scale(1.01);
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: #0f60ca;
    text-shadow: #414040 1px 1px 3px;
}
.boton button a{
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--blanco);
    font-weight: 500;
}
@media (min-width:767px){
    body{
        background-image: url(../img/slider01.png);
        background-size: cover;
    }
    .confirmacion{
        margin-top: auto;
        width: 50%;
    }
    h1{
        width: auto;
        font-size: 1.7rem;
    }
    p{
        width: auto;
        color: #8a8686;
        text-shadow: #f1ece3 1px 1px 3px;
    }
    p:hover{
        color: var(--grisoscuro);
    }
    .boton{
        position: absolute;
        width: 50%;
    }
    .boton button a{
        font-size: 1.3rem;
    }
}
@media (min-width: 480px) and (max-width:767px){
    body{
        background-image:url(../img/slider02.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    .confirmacion{
        margin-top: auto;
    }
    h1{
        font-size: 1.6rem;
    }
    span{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.4rem;
    }
    .boton button{
        padding: 0.9rem;
        background-color: #f56f57;
    }
    .boton button:hover{
        background-color: #df604a;
    }
    .boton button a{
        font-size: 1.2rem;
    }

}