img{
    max-width: 100%;
    object-fit: cover;
}
.swiper-container{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide{
    background-position: center center;
    background-size: cover;
    width: 300px;
    height: 169px;
    border: 1px solid rgba(32, 32, 32, 0.8);
    border-radius: 3px;
    box-shadow: #6b6a6a 2px 2px 5px;
}
@media (min-width:768px){
    .swiper-slide{
        width: 350px;
        height: 197px;
    }
}